<!DOCTYPE html>
<html lang="en" data-theme="firefinder">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Finder</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link type="text/css" href="/css/input.css"/>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/favicon.png">

</head>

<!-- Nav bar -->
<nav class="navbar bg-neutral pr-5">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl w-48" href="/">
            <img class="rounded-lg" src="/img/logo.png" alt="Fire Finder logo">
        </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a class="btn btn-ghost normal-case" href="/fire/feed">Feed</a></li>
        <!-- <li tabindex="0">
          <a>
            Parent
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li> -->
        <!-- <li><a>Item 3</a></li> -->
      </ul>
    </div>
</nav>