# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
config.env
frontend/config.env
backend/config.env
.env
.env.production

# legacy testing components
frontend/src/components/PointTest.vue

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
