<%- include('partials/header') -%>

<!-- Heading -->
<div class="hero bg-base-200 mb-12">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Admin Page</h1>
    </div>
  </div>
</div>
 
<!-- Add Fire Form -->
<!-- <div class="hero bg-base-200 mb-12">
  <div class="hero-content text-center">
      <div class="my-5">
        <h2 class="text-2xl font-bold min-w-max mb-1">Add a Fire</h2>
        <form action="/fire/createFire" enctype="multipart/form-data" method="POST">
          <div>
            <label class="label">
              <span class="label-text">Incident Name</span>
            </label>
            <input type="text" placeholder="Monument Fire" class="input input-bordered w-full max-w-xs" id="fireName" name="fireName">            
          </div>
          <div>
            <label class="label">
              <span class="label-text">Latitude</span>
            </label>
            <input type="text" placeholder="41.819" class="input input-bordered w-full max-w-xs" id="latitude" name="latitude">
          </div>
          <div class="mb-3">
            <label class="label">
              <span class="label-text">Longitude</span>
            </label>
            <input type="text" placeholder="-122.895" class="input input-bordered w-full max-w-xs" id="longitude" name="longitude">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
  </div>
</div> -->

<!-- refresh GeoJSON Data-->
<div class="hero bg-base-200 mb-5">
  <div class="hero-content text-center">
      <div>
        <form action="/fire/refreshGeoJson" enctype="multipart/form-data" method="POST">
          <button type="submit" class="btn btn-primary mb-5" value="Upload">Refresh Fire Points & Perimeters</button>
        </form>
        <form action="/fire/refreshNasaIR" enctype="multipart/form-data" method="POST">
          <button type="submit" class="btn btn-primary" value="Upload">Refresh NASA IR</button>
        </form>
      </div>
  </div>
</div>

<!-- Add GeoJSON Data-->
<!-- <div class="hero bg-base-200 mb-12">
  <div class="hero-content text-center">
      <div>
        <h2 class="text-2xl font-bold min-w-max mb-1">Add GeoJson Data</h2>
        <form action="/fire/addGeoJson" enctype="multipart/form-data" method="POST">
          <div>
            <label class="label">
              <span class="label-text">Data Name</span>
            </label>
            <input type="text" placeholder="NASA IR" class="input input-bordered w-full max-w-xs" id="dataName" name="dataName">            
          </div>
          <div>
            <label class="label">
              <span class="label-text">GeoJson Data</span>
            </label>
            <input type="text" placeholder="{'type':'Feature','geometry':{'type':'Polygon'..." class="input input-bordered w-full max-w-xs mb-2" id="geoJsonData" name="geoJsonData">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
  </div>
</div> -->

<%- include('partials/footer') -%>

</body>
</html>
  
  <!-- <div class="container flex align-center justify-center mx-auto">
    <h3>My Google Maps Demo</h3>
    <div id="map" class="center"></div>
  </div> -->
  
  <script src="/js/feed.js"></script>
