<!DOCTYPE html>
<html lang="en" data-theme="firefinder">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Fire Finder</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link type="text/css" href="/css/input.css"/>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/favicon.png">
</head>

<body>

<main class="flex main px-1">
  <%- include('partials/navbar') -%>
  
  <div id="map" class="rounded-lg text-base-100 self-center"></div>

  <%- include('partials/footer') -%>
</main>  

      
  <!-- <table class="table table-compact w-full">
    <thead>
    </thead> 
    <tbody>
        <tr>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-red-800"><path d="m2.095 19.882 9.248-16.5c.133-.237.384-.384.657-.384.272 0 .524.147.656.384l9.248 16.5c.064.115.096.241.096.367 0 .385-.309.749-.752.749h-18.496c-.44 0-.752-.36-.752-.749 0-.126.031-.252.095-.367z"></path></svg></td>
          <td>&lt 10% containment</td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-orange-500"><path d="m2.095 19.882 9.248-16.5c.133-.237.384-.384.657-.384.272 0 .524.147.656.384l9.248 16.5c.064.115.096.241.096.367 0 .385-.309.749-.752.749h-18.496c-.44 0-.752-.36-.752-.749 0-.126.031-.252.095-.367z"></path></svg></td>
          <td>10-50% containment</td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-yellow-400"><path d="m2.095 19.882 9.248-16.5c.133-.237.384-.384.657-.384.272 0 .524.147.656.384l9.248 16.5c.064.115.096.241.096.367 0 .385-.309.749-.752.749h-18.496c-.44 0-.752-.36-.752-.749 0-.126.031-.252.095-.367z"></path></svg></td>
          <td>50-90% containment</td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-green-600"><path d="m2.095 19.882 9.248-16.5c.133-.237.384-.384.657-.384.272 0 .524.147.656.384l9.248 16.5c.064.115.096.241.096.367 0 .385-.309.749-.752.749h-18.496c-.44 0-.752-.36-.752-.749 0-.126.031-.252.095-.367z"></path></svg></td>
          <td>&gt 90% containment</td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-black"><path d="m2.095 19.882 9.248-16.5c.133-.237.384-.384.657-.384.272 0 .524.147.656.384l9.248 16.5c.064.115.096.241.096.367 0 .385-.309.749-.752.749h-18.496c-.44 0-.752-.36-.752-.749 0-.126.031-.252.095-.367z"></path></svg></td>
          <td>100% containment</td>
        </tr>
    </tbody> 
    <tfoot>
    </tfoot>
  </table> -->



</body>
</html>
  
  <!-- <div class="container flex align-center justify-center mx-auto">
    <h3>My Google Maps Demo</h3>
    <div id="map" class="center"></div>
  </div> -->
  
  <script src="/js/index.js"></script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEP4Fpje8rlC-Z1aTMRMCuQ9FcEpXQMrU&callback=initMap"
    defer
  ></script>
