@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  min-height:100%;
}

body{
  height:100vh;
}

#map{  
  flex: 1 1 auto;
  /* max-width: 800px; */
  min-width: 350px;
}

/* @media screen and (max-width: 500px) {
  #map{

  }
} */

.main{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.navbar{
  flex: 0 1 auto;
}

.footer{
  flex: 0 1 40px;
  grid-auto-flow: column;
}

#map div{
    border-radius: 0.5rem;
}

/* Remove close button on map info windows */
.gm-ui-hover-effect {
  display: none !important;
}

/* Map info window style */
.gm-style-iw-a {
  opacity: 0.8;
}
